@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #fff;
}
* {
  font-family: "Urbanist", sans-serif;
  user-select: none;
}
.m_5df29311,
.m_fd1ab0aa {
  padding: 0 !important;
  background: transparent !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  overflow: hidden !important;
}

.m_df3ffa0f {
  font-size: 1.125rem !important;
  font-weight: 700 !important;
  line-height: 1.25rem !important;
}

.m_8fdc1311 {
  display: none !important;
}
.m_8fb7ebe7 {
  background: transparent !important;
  border: none !important;
  font-family: "Urbanist" !important;
}
.m_b85f7144 {
  width: 100% !important;
  height: 100% !important;
}

.m_12051f6c {
  font-size: 12px !important;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}

.sidebar-container::-webkit-scrollbar {
  width: 6px;
  /* background-color: transparent; */
}

textarea::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #005de917;
  border-radius: 10px;
}

.modal::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.modal::-webkit-scrollbar-thumb {
  background: #005de917;
  border-radius: 10px;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background: #005de917;
  border-radius: 10px;
}

.side-section {
  transition:
    width 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

/* .pages-parent::-webkit-scrollbar {
  width: 1px;
  background: transparent;
} */

.data-table::-webkit-scrollbar-track {
  background: transparent;
}
.data-table::-webkit-scrollbar {
  height: 5px;
  margin-top: 4px;
}

.calls-list-cont::-webkit-scrollbar {
  background: #000f230d;
}
.calls-list-cont::-webkit-scrollbar-thumb {
  background: #000f23;
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.chart-container {
  border-radius: 16px; /* Adjust the radius as needed */
  overflow: hidden; /* This ensures the chart respects the border radius */
}

canvas[role="img"] {
  font-family: "Urbanist", sans-serif !important;
}
.m_60c222c7 {
  align-items: center !important;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}
