@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #fff;
}
.m_5df29311,
.m_fd1ab0aa {
  padding: 0 !important;
  background: transparent !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  overflow: hidden !important;
}

.m_df3ffa0f {
  font-size: 1.125rem !important;
  font-weight: 700 !important;
  line-height: 1.25rem !important;
}

.m_8fdc1311 {
  display: none !important;
}
.m_8fb7ebe7 {
  background: transparent !important;
  border: none !important;
  font-family: "Urbanist" !important;
}
.m_b85f7144 {
  width: 100% !important;
  height: 100% !important;
}

.m_12051f6c {
  font-size: 12px !important;
}

.sidebar-container::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}

.sidebar-container::-webkit-scrollbar-thumb{
  background: #005DE917;
  border-radius: 10px;
}

.side-section {
  transition:
    width 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}